Repository prachuryar-dot/r, changes with the owners that CODEOWNERS names for each.
All owners: @senior-developer, @tech-lead, @frontend-team, @devops-team

CODEOWNERS:

# Global code owners
* @senior-developer @tech-lead

# Frontend components
src/components/ @frontend-team
src/styles/ @frontend-team
src/app/ @frontend-team

# Configuration files
.gitlab-ci.yml @devops-team
package.json @devops-team
tailwind.config.js @frontend-team

# Documentation
*.md @tech-lead
STORYBOOK_GUIDELINES.md @frontend-team
BRANCHING_STRATEGY.md @tech-lead

# Storybook
.storybook/ @frontend-team
src/**/*.stories.tsx @frontend-team

# Tests
src/**/*.test.tsx @frontend-team
src/**/*.spec.tsx @frontend-team
jest.config.js @devops-team

# TypeScript configuration
tsconfig.json @devops-team

Add files via upload
  README.md
  commitlint.config.js
  jest.config.js
  next-env.d.ts
  next.config.js
  package-lock.json
  package.json
  postcss.config.js
  public/assets/logos/pattem-estates.svg
  public/output.css
  public/web-app-manifest-192x192.png
  public/web-app-manifest-512x512.png
  scripts/validation/add-property.js
  scripts/validation/properties.js
  scripts/validation/validation.js
  sonar-project.properties
  tailwind.config.js
  tsconfig.json
  vercel-storybook.json
  vercel.json
Owners: @tech-lead, @senior-developer, @devops-team, @frontend-team

Create name.md
  src/name.md
Owners: @tech-lead

Create meme.md
  src/components/meme.md
Owners: @tech-lead

Add files via upload
  src/components/__tests__/example.test.tsx
  src/components/__tests__/typography-integration.test.tsx
  src/components/atoms/cardSlider/CardSlider.stories.tsx
  src/components/atoms/cardSlider/cardSlider.tsx
  src/components/atoms/cardSlider/index.ts
  src/components/atoms/productShowCase/ProductShowCaseImage.tsx
  src/components/atoms/productShowCase/ProductShowcaseButton.tsx
Owners: @frontend-team

Update name.md
  src/name.md
Owners: @tech-lead

Delete src/components/meme.md
  src/components/meme.md
Owners: @tech-lead
